body {
  margin: 0;
  font-size: 22px;
  font-family: "oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.buttonContainer {
  border-bottom: 3px solid black;
}
.commands {
  display: inline-block;
  margin-right: 10px;
}
.clearButton {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  background-color: #FFC400;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}
.example {
  margin-top: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 8px;
  background-color: grey;
}
.exampleHeader {
  font-size: 25px;
  font-weight: 800;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
}
.description {
  font-size: 22px;
}

.prettyprint {
  background-color: #EEEEEE;
  font-size: 1vw;
}

.hideExample {
  visibility: hidden;
  height: 0px;
}


.imgShrink {
  width: 100px;
  height: auto;
}

.hidden {
  visibility: hidden;
  height: 0;
}
.visible {
  visibility: visible;
  height: auto;
}

.travel--container {
  display: flex;
}
.travel--mainimg {
  width: 300px;
  height: auto;
  border-radius: 15px;
}
.travel--information {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.travel--topdata {
  display: flex;
  align-items: center;
}
.travel--topdata > img {
  width: 24px;
  height: auto;
  margin-right: 4px;
}
.travel--topdata > a {
  font-size: 14px;
  color: black;
  margin-left: 15px;
  background-color: pink;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 100px;
}
.travel--information--title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
}
.travel--information--date {
  font-size: 14px;
  font-weight: 800;
}
.travel--information--description {
  margin-top: 5px;
}